@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --font-xht: 'xht';
}

@font-face {
  font-family: 'jy';
  src: url('./assets/fonts/江城圆体.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'xht';
  src: url('./assets/fonts/字制区喜脉喜欢体.ttf');
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  height: 100%;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  height: 100%;
}

::-webkit-scrollbar {
  width: 2px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: rgba(#5d5c5c, 0.2);
}

@layer utilities {
  .text-stroke {
    -webkit-text-stroke: 0.05rem #dce6ee;
  }
}
